{% extends 'base.html.twig' %}

{% block title %}Editer la catégorie!{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.languageSource) }}
    {{ form_row(form.languageAvailable) }}

    <button type="submit">Modifier</button>

    {{ form_end(form) }}


{% endblock %}
