{% extends 'base.html.twig' %}

{% block title %}Langues{% endblock %}

{% block body %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">name</th>
            <th scope="col">icon</th>
            <th scope="col">iso</th>
            <th scope="col">Publié</th>
        </tr>
        </thead>
        <tbody>

        {% for langue in results %}
            <tr>
                <th scope="row"><a href="{{ path('admin_language_edit',{'id':langue.id}) }}">{{ langue.id }}</a> </th>
                <td>{{ langue.name }}</td>
                <td><img src="{{ langue.icon }}"></td>
                <td>{{ langue.iso }}</td>
                <td>

                    {% if langue.isPublish == true %}
                        <span class="badge badge-primary">Oui</span>
                    {% else %}
                        <span class="badge badge-secondary">Non</span>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('admin_language_add') }}" class="btn btn-outline-primary">Ajouter une nouvelle langue</a>


{% endblock %}
