{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">origine</th>
            <th scope="col">Publié</th>
        </tr>
        </thead>
        <tbody>

        {% for langue in results %}
            <tr>
                <th scope="row">{{ langue.id }}</th>
                <td>{{ langue.name }}</td>
                <td>{{ langue.description }}</td>

                <td><img src="{{ langue.languageSource.icon}}"> </td>

                <td>

                    {% if langue.isPublish == true %}
                        <span class="badge badge-primary">Oui</span>
                    {% else %}
                        <span class="badge badge-secondary">Non</span>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('admin_picture_category_add') }}" class="btn btn-outline-primary">Ajouter une catégorie</a>

{% endblock %}
