{% extends 'base.html.twig' %}

{% block title %}{{ results.name }}{% endblock %}

{% block body %}

    {% for langue in results.languageAvailable %}

        <p><img src="{{ langue.icon }}"> - {{ langue.id }}</p>

        {% for toto in langue.pictureCategoryTranslations %}

            <p>{{ toto.name }} - {{ toto.id }} </p>
            <p>Description = {{ toto.description }} {{ toto.id }} </p>

        {% endfor %}
        </br>
    {% endfor %}

{% endblock %}
